<link
  href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
  rel="stylesheet"
/>
<style>
  @import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap");
</style>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
  </style>

<div class="loader">
  <p *ngIf="loading">Fetching...</p>
</div>

<div class="singleBreedcontainer">
    <div class="singleBreedInfo">
        <a class="backButton" [routerLink]="'/allbreeds'"> Back to breeds </a>
        <h1 class="breedName">{{ breedData?.breed }}</h1>
        <ul class="bullet-point">
          <li class="childFriendly"><span>Child friendly:</span> {{ breedData?.childFriendly }}</li>
          <li class="dogFriendly"><span>Dog friendly:</span> {{ breedData?.dogFriendly }}</li>
          <li class="weightInKg"><span>Weight: approx</span> {{ breedData?.weight_kg }}kg</li>
        </ul>
        <p class="dogScript">{{ breedData?.script }}</p>
        <button class="breederButton">Find Breeder</button>  
    </div>
  
  <div>
    <img class="singleBreedImg" src="{{ breedData?.image }}" />
  </div>




</div>